body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1592px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2467 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2468 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2469 {
  position:absolute;
  left:142px;
  top:768px;
  width:57px;
  height:20px;
}
#u2470 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u2471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2471 {
  position:absolute;
  left:349px;
  top:768px;
  width:57px;
  height:20px;
}
#u2472 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u2473 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1341px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2474 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1341px;
}
#u2475 {
  position:absolute;
  left:2px;
  top:662px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:529px;
}
#u2476 {
  position:absolute;
  left:107px;
  top:406px;
  width:537px;
  height:529px;
}
#u2477 {
  position:absolute;
  left:2px;
  top:256px;
  width:533px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2478 {
  position:absolute;
  left:140px;
  top:491px;
  width:468px;
  height:322px;
}
#u2478_input {
  position:absolute;
  left:0px;
  top:0px;
  width:468px;
  height:322px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2479 {
  position:absolute;
  left:140px;
  top:848px;
  width:468px;
  height:58px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2480 {
  position:absolute;
  left:556px;
  top:406px;
  width:88px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2481 {
  position:absolute;
  left:842px;
  top:0px;
  width:750px;
  height:1334px;
}
#u2482 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2483 {
  position:absolute;
  left:883px;
  top:1089px;
  width:671px;
  height:112px;
}
#u2483_input {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:112px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
