body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2472 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2473 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2474 {
  position:absolute;
  left:52px;
  top:384px;
  width:57px;
  height:20px;
}
#u2475 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u2476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2476 {
  position:absolute;
  left:156px;
  top:384px;
  width:57px;
  height:20px;
}
#u2477 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u2478 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:671px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2479 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:671px;
}
#u2480 {
  position:absolute;
  left:2px;
  top:328px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:265px;
}
#u2481 {
  position:absolute;
  left:54px;
  top:203px;
  width:269px;
  height:265px;
}
#u2482 {
  position:absolute;
  left:2px;
  top:124px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2483 {
  position:absolute;
  left:70px;
  top:246px;
  width:234px;
  height:161px;
}
#u2483_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:161px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u2484 {
  position:absolute;
  left:70px;
  top:424px;
  width:234px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2485 {
  position:absolute;
  left:278px;
  top:203px;
  width:44px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2486 {
  position:absolute;
  left:425px;
  top:0px;
  width:375px;
  height:667px;
}
#u2487 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2488 {
  position:absolute;
  left:446px;
  top:545px;
  width:336px;
  height:56px;
}
#u2488_input {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:56px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
