body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1193px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:194px;
}
#u1293 {
  position:absolute;
  left:18px;
  top:19px;
  width:771px;
  height:194px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:89px;
  width:767px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0099FF;
}
#u1295 {
  position:absolute;
  left:105px;
  top:137px;
  width:660px;
  height:25px;
  text-decoration:underline;
  color:#0099FF;
}
#u1296 {
  position:absolute;
  left:2px;
  top:4px;
  width:656px;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:825px;
  height:559px;
}
#u1297 {
  position:absolute;
  left:0px;
  top:248px;
  width:825px;
  height:559px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:272px;
  width:821px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#0099FF;
}
#u1299 {
  position:absolute;
  left:136px;
  top:620px;
  width:486px;
  height:25px;
  text-decoration:underline;
  color:#0099FF;
}
#u1300 {
  position:absolute;
  left:2px;
  top:4px;
  width:482px;
  word-wrap:break-word;
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1301 {
  position:absolute;
  left:893px;
  top:224px;
  width:300px;
  height:170px;
}
#u1302 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
