body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
}
#u993 {
  position:absolute;
  left:2px;
  top:462px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
}
#u995 {
  position:absolute;
  left:2px;
  top:462px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:1763px;
  top:252px;
  width:57px;
  height:32px;
}
#u997 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u998 {
  position:absolute;
  left:232px;
  top:302px;
  width:363px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u1000 {
  position:absolute;
  left:785px;
  top:0px;
  width:406px;
  height:56px;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u1003 {
  position:absolute;
  left:200px;
  top:0px;
  width:201px;
  height:51px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:18px;
  width:197px;
  word-wrap:break-word;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u1005_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1005_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
  background:inherit;
  background-color:rgba(188, 188, 188, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:462px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1009 {
  position:absolute;
  left:370px;
  top:170px;
  width:1181px;
  height:600px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:292px;
  width:1177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1011 {
  position:absolute;
  left:1516px;
  top:170px;
  width:34px;
  height:34px;
}
#u1012 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1013 {
  position:absolute;
  left:1234px;
  top:673px;
  width:83px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1014 {
  position:absolute;
  left:8px;
  top:9px;
  width:67px;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u1015 {
  position:absolute;
  left:1389px;
  top:673px;
  width:94px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u1016 {
  position:absolute;
  left:8px;
  top:9px;
  width:78px;
  word-wrap:break-word;
}
#u1017 {
  position:absolute;
  left:518px;
  top:272px;
  width:891px;
  height:355px;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1018_img.selected {
}
#u1018.selected {
}
#u1019 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1020 {
  position:absolute;
  left:222px;
  top:0px;
  width:222px;
  height:50px;
}
#u1020_img.selected {
}
#u1020.selected {
}
#u1021 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1022 {
  position:absolute;
  left:444px;
  top:0px;
  width:222px;
  height:50px;
}
#u1022_img.selected {
}
#u1022.selected {
}
#u1023 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u1024 {
  position:absolute;
  left:666px;
  top:0px;
  width:220px;
  height:50px;
}
#u1024_img.selected {
}
#u1024.selected {
}
#u1025 {
  position:absolute;
  left:2px;
  top:17px;
  width:216px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1026 {
  position:absolute;
  left:0px;
  top:50px;
  width:222px;
  height:50px;
}
#u1026_img.selected {
}
#u1026.selected {
}
#u1027 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1028 {
  position:absolute;
  left:222px;
  top:50px;
  width:222px;
  height:50px;
}
#u1028_img.selected {
}
#u1028.selected {
}
#u1029 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1030 {
  position:absolute;
  left:444px;
  top:50px;
  width:222px;
  height:50px;
}
#u1030_img.selected {
}
#u1030.selected {
}
#u1031 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u1032 {
  position:absolute;
  left:666px;
  top:50px;
  width:220px;
  height:50px;
}
#u1032_img.selected {
}
#u1032.selected {
}
#u1033 {
  position:absolute;
  left:2px;
  top:17px;
  width:216px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1034 {
  position:absolute;
  left:0px;
  top:100px;
  width:222px;
  height:50px;
}
#u1034_img.selected {
}
#u1034.selected {
}
#u1035 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1036 {
  position:absolute;
  left:222px;
  top:100px;
  width:222px;
  height:50px;
}
#u1036_img.selected {
}
#u1036.selected {
}
#u1037 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1038 {
  position:absolute;
  left:444px;
  top:100px;
  width:222px;
  height:50px;
}
#u1038_img.selected {
}
#u1038.selected {
}
#u1039 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u1040 {
  position:absolute;
  left:666px;
  top:100px;
  width:220px;
  height:50px;
}
#u1040_img.selected {
}
#u1040.selected {
}
#u1041 {
  position:absolute;
  left:2px;
  top:17px;
  width:216px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1042 {
  position:absolute;
  left:0px;
  top:150px;
  width:222px;
  height:50px;
}
#u1042_img.selected {
}
#u1042.selected {
}
#u1043 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1044 {
  position:absolute;
  left:222px;
  top:150px;
  width:222px;
  height:50px;
}
#u1044_img.selected {
}
#u1044.selected {
}
#u1045 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1046 {
  position:absolute;
  left:444px;
  top:150px;
  width:222px;
  height:50px;
}
#u1046_img.selected {
}
#u1046.selected {
}
#u1047 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u1048 {
  position:absolute;
  left:666px;
  top:150px;
  width:220px;
  height:50px;
}
#u1048_img.selected {
}
#u1048.selected {
}
#u1049 {
  position:absolute;
  left:2px;
  top:17px;
  width:216px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1050 {
  position:absolute;
  left:0px;
  top:200px;
  width:222px;
  height:50px;
}
#u1050_img.selected {
}
#u1050.selected {
}
#u1051 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1052 {
  position:absolute;
  left:222px;
  top:200px;
  width:222px;
  height:50px;
}
#u1052_img.selected {
}
#u1052.selected {
}
#u1053 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1054 {
  position:absolute;
  left:444px;
  top:200px;
  width:222px;
  height:50px;
}
#u1054_img.selected {
}
#u1054.selected {
}
#u1055 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u1056 {
  position:absolute;
  left:666px;
  top:200px;
  width:220px;
  height:50px;
}
#u1056_img.selected {
}
#u1056.selected {
}
#u1057 {
  position:absolute;
  left:2px;
  top:17px;
  width:216px;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:52px;
}
#u1058 {
  position:absolute;
  left:0px;
  top:250px;
  width:222px;
  height:52px;
}
#u1058_img.selected {
}
#u1058.selected {
}
#u1059 {
  position:absolute;
  left:2px;
  top:18px;
  width:218px;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:52px;
}
#u1060 {
  position:absolute;
  left:222px;
  top:250px;
  width:222px;
  height:52px;
}
#u1060_img.selected {
}
#u1060.selected {
}
#u1061 {
  position:absolute;
  left:2px;
  top:18px;
  width:218px;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:52px;
}
#u1062 {
  position:absolute;
  left:444px;
  top:250px;
  width:222px;
  height:52px;
}
#u1062_img.selected {
}
#u1062.selected {
}
#u1063 {
  position:absolute;
  left:2px;
  top:18px;
  width:218px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:52px;
}
#u1064 {
  position:absolute;
  left:666px;
  top:250px;
  width:220px;
  height:52px;
}
#u1064_img.selected {
}
#u1064.selected {
}
#u1065 {
  position:absolute;
  left:2px;
  top:18px;
  width:216px;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:48px;
}
#u1066 {
  position:absolute;
  left:0px;
  top:302px;
  width:222px;
  height:48px;
}
#u1066_img.selected {
}
#u1066.selected {
}
#u1067 {
  position:absolute;
  left:2px;
  top:16px;
  width:218px;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:48px;
}
#u1068 {
  position:absolute;
  left:222px;
  top:302px;
  width:222px;
  height:48px;
}
#u1068_img.selected {
}
#u1068.selected {
}
#u1069 {
  position:absolute;
  left:2px;
  top:16px;
  width:218px;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:48px;
}
#u1070 {
  position:absolute;
  left:444px;
  top:302px;
  width:222px;
  height:48px;
}
#u1070_img.selected {
}
#u1070.selected {
}
#u1071 {
  position:absolute;
  left:2px;
  top:16px;
  width:218px;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
}
#u1072 {
  position:absolute;
  left:666px;
  top:302px;
  width:220px;
  height:48px;
}
#u1072_img.selected {
}
#u1072.selected {
}
#u1073 {
  position:absolute;
  left:2px;
  top:16px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1709px;
  height:605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1074 {
  position:absolute;
  left:211px;
  top:334px;
  width:1709px;
  height:605px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:294px;
  width:1705px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:604px;
}
#u1076 {
  position:absolute;
  left:508px;
  top:335px;
  width:996px;
  height:604px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:294px;
  width:992px;
  visibility:hidden;
  word-wrap:break-word;
}
