body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:462px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
}
#u1031 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:462px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1033 {
  position:absolute;
  left:1763px;
  top:252px;
  width:57px;
  height:32px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1035 {
  position:absolute;
  left:232px;
  top:302px;
  width:363px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u1037 {
  position:absolute;
  left:785px;
  top:0px;
  width:406px;
  height:56px;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:51px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:51px;
}
#u1040 {
  position:absolute;
  left:200px;
  top:0px;
  width:201px;
  height:51px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:18px;
  width:197px;
  word-wrap:break-word;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u1042_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1042_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
  background:inherit;
  background-color:rgba(188, 188, 188, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:939px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:462px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:370px;
  top:170px;
  width:1181px;
  height:600px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:292px;
  width:1177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1048 {
  position:absolute;
  left:1516px;
  top:170px;
  width:34px;
  height:34px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1050 {
  position:absolute;
  left:1234px;
  top:673px;
  width:83px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u1051 {
  position:absolute;
  left:8px;
  top:9px;
  width:67px;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
}
#u1052 {
  position:absolute;
  left:1389px;
  top:673px;
  width:94px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u1053 {
  position:absolute;
  left:8px;
  top:9px;
  width:78px;
  word-wrap:break-word;
}
#u1054 {
  position:absolute;
  left:518px;
  top:272px;
  width:891px;
  height:355px;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1055_img.selected {
}
#u1055.selected {
}
#u1056 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1057 {
  position:absolute;
  left:222px;
  top:0px;
  width:222px;
  height:50px;
}
#u1057_img.selected {
}
#u1057.selected {
}
#u1058 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1059 {
  position:absolute;
  left:444px;
  top:0px;
  width:222px;
  height:50px;
}
#u1059_img.selected {
}
#u1059.selected {
}
#u1060 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u1061 {
  position:absolute;
  left:666px;
  top:0px;
  width:220px;
  height:50px;
}
#u1061_img.selected {
}
#u1061.selected {
}
#u1062 {
  position:absolute;
  left:2px;
  top:17px;
  width:216px;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1063 {
  position:absolute;
  left:0px;
  top:50px;
  width:222px;
  height:50px;
}
#u1063_img.selected {
}
#u1063.selected {
}
#u1064 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1065 {
  position:absolute;
  left:222px;
  top:50px;
  width:222px;
  height:50px;
}
#u1065_img.selected {
}
#u1065.selected {
}
#u1066 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1067 {
  position:absolute;
  left:444px;
  top:50px;
  width:222px;
  height:50px;
}
#u1067_img.selected {
}
#u1067.selected {
}
#u1068 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u1069 {
  position:absolute;
  left:666px;
  top:50px;
  width:220px;
  height:50px;
}
#u1069_img.selected {
}
#u1069.selected {
}
#u1070 {
  position:absolute;
  left:2px;
  top:17px;
  width:216px;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1071 {
  position:absolute;
  left:0px;
  top:100px;
  width:222px;
  height:50px;
}
#u1071_img.selected {
}
#u1071.selected {
}
#u1072 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1073 {
  position:absolute;
  left:222px;
  top:100px;
  width:222px;
  height:50px;
}
#u1073_img.selected {
}
#u1073.selected {
}
#u1074 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1075 {
  position:absolute;
  left:444px;
  top:100px;
  width:222px;
  height:50px;
}
#u1075_img.selected {
}
#u1075.selected {
}
#u1076 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u1077 {
  position:absolute;
  left:666px;
  top:100px;
  width:220px;
  height:50px;
}
#u1077_img.selected {
}
#u1077.selected {
}
#u1078 {
  position:absolute;
  left:2px;
  top:17px;
  width:216px;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1079 {
  position:absolute;
  left:0px;
  top:150px;
  width:222px;
  height:50px;
}
#u1079_img.selected {
}
#u1079.selected {
}
#u1080 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1081 {
  position:absolute;
  left:222px;
  top:150px;
  width:222px;
  height:50px;
}
#u1081_img.selected {
}
#u1081.selected {
}
#u1082 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1083 {
  position:absolute;
  left:444px;
  top:150px;
  width:222px;
  height:50px;
}
#u1083_img.selected {
}
#u1083.selected {
}
#u1084 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u1085 {
  position:absolute;
  left:666px;
  top:150px;
  width:220px;
  height:50px;
}
#u1085_img.selected {
}
#u1085.selected {
}
#u1086 {
  position:absolute;
  left:2px;
  top:17px;
  width:216px;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1087 {
  position:absolute;
  left:0px;
  top:200px;
  width:222px;
  height:50px;
}
#u1087_img.selected {
}
#u1087.selected {
}
#u1088 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1089 {
  position:absolute;
  left:222px;
  top:200px;
  width:222px;
  height:50px;
}
#u1089_img.selected {
}
#u1089.selected {
}
#u1090 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:50px;
}
#u1091 {
  position:absolute;
  left:444px;
  top:200px;
  width:222px;
  height:50px;
}
#u1091_img.selected {
}
#u1091.selected {
}
#u1092 {
  position:absolute;
  left:2px;
  top:17px;
  width:218px;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:50px;
}
#u1093 {
  position:absolute;
  left:666px;
  top:200px;
  width:220px;
  height:50px;
}
#u1093_img.selected {
}
#u1093.selected {
}
#u1094 {
  position:absolute;
  left:2px;
  top:17px;
  width:216px;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:52px;
}
#u1095 {
  position:absolute;
  left:0px;
  top:250px;
  width:222px;
  height:52px;
}
#u1095_img.selected {
}
#u1095.selected {
}
#u1096 {
  position:absolute;
  left:2px;
  top:18px;
  width:218px;
  word-wrap:break-word;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:52px;
}
#u1097 {
  position:absolute;
  left:222px;
  top:250px;
  width:222px;
  height:52px;
}
#u1097_img.selected {
}
#u1097.selected {
}
#u1098 {
  position:absolute;
  left:2px;
  top:18px;
  width:218px;
  word-wrap:break-word;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:52px;
}
#u1099 {
  position:absolute;
  left:444px;
  top:250px;
  width:222px;
  height:52px;
}
#u1099_img.selected {
}
#u1099.selected {
}
#u1100 {
  position:absolute;
  left:2px;
  top:18px;
  width:218px;
  word-wrap:break-word;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:52px;
}
#u1101 {
  position:absolute;
  left:666px;
  top:250px;
  width:220px;
  height:52px;
}
#u1101_img.selected {
}
#u1101.selected {
}
#u1102 {
  position:absolute;
  left:2px;
  top:18px;
  width:216px;
  word-wrap:break-word;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:48px;
}
#u1103 {
  position:absolute;
  left:0px;
  top:302px;
  width:222px;
  height:48px;
}
#u1103_img.selected {
}
#u1103.selected {
}
#u1104 {
  position:absolute;
  left:2px;
  top:16px;
  width:218px;
  word-wrap:break-word;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:48px;
}
#u1105 {
  position:absolute;
  left:222px;
  top:302px;
  width:222px;
  height:48px;
}
#u1105_img.selected {
}
#u1105.selected {
}
#u1106 {
  position:absolute;
  left:2px;
  top:16px;
  width:218px;
  word-wrap:break-word;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:48px;
}
#u1107 {
  position:absolute;
  left:444px;
  top:302px;
  width:222px;
  height:48px;
}
#u1107_img.selected {
}
#u1107.selected {
}
#u1108 {
  position:absolute;
  left:2px;
  top:16px;
  width:218px;
  word-wrap:break-word;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
}
#u1109 {
  position:absolute;
  left:666px;
  top:302px;
  width:220px;
  height:48px;
}
#u1109_img.selected {
}
#u1109.selected {
}
#u1110 {
  position:absolute;
  left:2px;
  top:16px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1709px;
  height:605px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1111 {
  position:absolute;
  left:211px;
  top:334px;
  width:1709px;
  height:605px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:294px;
  width:1705px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:996px;
  height:604px;
}
#u1113 {
  position:absolute;
  left:488px;
  top:335px;
  width:996px;
  height:604px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:294px;
  width:992px;
  visibility:hidden;
  word-wrap:break-word;
}
