body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1588px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1588px;
  height:896px;
}
#u2670 {
  position:absolute;
  left:0px;
  top:0px;
  width:1588px;
  height:896px;
}
#u2671 {
  position:absolute;
  left:2px;
  top:440px;
  width:1584px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2672 {
  position:absolute;
  left:660px;
  top:193px;
  width:375px;
  height:667px;
}
#u2673 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2674 {
  position:absolute;
  left:1045px;
  top:193px;
  width:375px;
  height:667px;
}
#u2675 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2676 {
  position:absolute;
  left:1059px;
  top:280px;
  width:203px;
  height:41px;
}
#u2677 {
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2678 {
  position:absolute;
  left:685px;
  top:487px;
  width:163px;
  height:41px;
}
#u2679 {
  position:absolute;
  left:2px;
  top:12px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2680 {
  position:absolute;
  left:49px;
  top:148px;
  width:426px;
  height:41px;
}
#u2681 {
  position:absolute;
  left:2px;
  top:12px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:176px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2682 {
  position:absolute;
  left:49px;
  top:199px;
  width:426px;
  height:176px;
}
#u2683 {
  position:absolute;
  left:2px;
  top:80px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2684 {
  position:absolute;
  left:685px;
  top:531px;
  width:211px;
  height:70px;
}
#u2685 {
  position:absolute;
  left:2px;
  top:27px;
  width:207px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2686 {
  position:absolute;
  left:1059px;
  top:450px;
  width:273px;
  height:57px;
}
#u2687 {
  position:absolute;
  left:2px;
  top:20px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2688 {
  position:absolute;
  left:475px;
  top:169px;
  width:0px;
  height:0px;
}
#u2688_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u2688_seg1 {
  position:absolute;
  left:6px;
  top:-36px;
  width:8px;
  height:40px;
}
#u2688_seg2 {
  position:absolute;
  left:6px;
  top:-36px;
  width:193px;
  height:8px;
}
#u2688_seg3 {
  position:absolute;
  left:191px;
  top:-36px;
  width:8px;
  height:379px;
}
#u2688_seg4 {
  position:absolute;
  left:191px;
  top:335px;
  width:19px;
  height:8px;
}
#u2689 {
  position:absolute;
  left:145px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2690 {
  position:absolute;
  left:475px;
  top:169px;
  width:0px;
  height:0px;
}
#u2690_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u2690_seg1 {
  position:absolute;
  left:6px;
  top:-36px;
  width:8px;
  height:40px;
}
#u2690_seg2 {
  position:absolute;
  left:6px;
  top:-36px;
  width:514px;
  height:8px;
}
#u2690_seg3 {
  position:absolute;
  left:512px;
  top:-36px;
  width:8px;
  height:172px;
}
#u2690_seg4 {
  position:absolute;
  left:512px;
  top:128px;
  width:72px;
  height:8px;
}
#u2691 {
  position:absolute;
  left:308px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2692 {
  position:absolute;
  left:475px;
  top:287px;
  width:0px;
  height:0px;
}
#u2692_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:111px;
  height:8px;
}
#u2692_seg1 {
  position:absolute;
  left:103px;
  top:-4px;
  width:8px;
  height:287px;
}
#u2692_seg2 {
  position:absolute;
  left:103px;
  top:275px;
  width:107px;
  height:8px;
}
#u2693 {
  position:absolute;
  left:57px;
  top:130px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2694 {
  position:absolute;
  left:475px;
  top:287px;
  width:0px;
  height:0px;
}
#u2694_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:443px;
  height:8px;
}
#u2694_seg1 {
  position:absolute;
  left:435px;
  top:-4px;
  width:8px;
  height:200px;
}
#u2694_seg2 {
  position:absolute;
  left:435px;
  top:188px;
  width:149px;
  height:8px;
}
#u2695 {
  position:absolute;
  left:338px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:190px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2696 {
  position:absolute;
  left:49px;
  top:378px;
  width:284px;
  height:190px;
}
#u2697 {
  position:absolute;
  left:2px;
  top:87px;
  width:280px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2698 {
  position:absolute;
  left:1259px;
  top:331px;
  width:144px;
  height:90px;
}
#u2699 {
  position:absolute;
  left:2px;
  top:37px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2700 {
  position:absolute;
  left:333px;
  top:473px;
  width:0px;
  height:0px;
}
#u2700_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:192px;
  height:8px;
}
#u2700_seg1 {
  position:absolute;
  left:184px;
  top:-101px;
  width:8px;
  height:105px;
}
#u2700_seg2 {
  position:absolute;
  left:184px;
  top:-101px;
  width:742px;
  height:8px;
}
#u2701 {
  position:absolute;
  left:364px;
  top:-105px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
