body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:938px;
}
#u2459 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:938px;
}
#u2460 {
  position:absolute;
  left:2px;
  top:461px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2461 {
  position:absolute;
  left:236px;
  top:543px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u2462 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2463 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2464 {
  position:absolute;
  left:331px;
  top:543px;
  width:100px;
  height:16px;
}
#u2465 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2464_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2466 {
  position:absolute;
  left:441px;
  top:543px;
  width:146px;
  height:16px;
}
#u2467 {
  position:absolute;
  left:16px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u2466_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2468 {
  position:absolute;
  left:597px;
  top:543px;
  width:146px;
  height:16px;
}
#u2469 {
  position:absolute;
  left:16px;
  top:0px;
  width:128px;
  word-wrap:break-word;
}
#u2468_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
